.highlightText {
  color: #3182bd
}
.correct_answer{
  background-color: #5eb472;
}
.incorrect_answer{
  background-color: #fb7979;
}
.disabled-div {
  pointer-events: none;
  opacity: 0.7;
}
/* INSTRUCTIONS */
.instructions-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
}
.instructions {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(50px, 50px) 1fr minmax(80px, 80px);
  height: calc(100vh - 10px);
  grid-gap: 10px;
}
.instructions-title {
  grid-column: 1;
  grid-row: 1;  
}
.instructions-text {
  grid-column: 1;
  grid-row: 2;  
  overflow-y: scroll;
  overflow-x: hidden;
}
.instructions-button {
  grid-column: 1;
  grid-row: 3;
}
.instructions-vis {
  grid-column: 2 / 5;
  grid-row: 1;
}
.instructions-vis .gsl-container{
  height: calc(96vh - 10px);
}
.instructions-vis .gsl-xselector{
  grid-column: 2 / 5;
}
.instructions-vis .gsl-zselector{
  grid-column: 5 / 9;
}
.instructions-vis .gsl-extraselector{
  grid-column: 9 / 13;
}
/* MAIN FORM */
.session-container{
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: minmax(150px, 150px) 1fr;
}
.session-vis{
  grid-column: 1;
  grid-row: 2;
}
.session-header {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-auto-columns: minmax(200px, 200px) 1fr;
  grid-auto-rows: 1fr 1fr 1fr;
  grid-gap:10px;
}
.session-info{
  grid-column: 1;
  grid-row: 1;
}
.trial-info{
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr 1fr;
}
.trial-title {
  grid-column: 1;
  grid-row: 1;
  font-size: 18px;
}
.trial-bar {
  grid-column: 1;
  grid-row: 2;
  /*padding-top: 5px;*/
}
.session-questions{
  grid-column: 2;
  grid-row: 1;
}

/* DEMO */
.demo-container{
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: minmax(70px, 70px) 1fr;
}
.demo-vis{
  grid-column: 1;
  grid-row: 2;
}
.demo-barchart {
  grid-column: 1;
  grid-row: 2;
}

.demo-toolbar{
   /* ADDED FOR PAPER FIGURE */
    /*width: calc(40vw - 10px);*/
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  grid-auto-rows: 1fr;
}
.demo-sidebar-panel{
  grid-column: 1;
  grid-row: 1;
  margin-top: -10px;
}

.demo-searchKeyword-panel{
  grid-column: 2/6;
  grid-row: 1;
}

.demo-searchKeyword-container{
  grid-column: 6/12;
  grid-row: 1;
}
