{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>
{% endblock %}