body{
  overflow: hidden !important;
}

.gsl-container {
    display: grid;
    grid-template-columns: minmax(195px, 195px) 1fr 1fr 1fr 1fr 1fr minmax(15px, 15px);
    grid-template-rows: minmax(50px, 50px) minmax(100px, 100px) 1fr 1fr 1fr 1fr minmax(15px, 15px);
    height: calc(97vh);
}

.gsl-legend-x {
    grid-column: 2 / 7;
    grid-row: 2;
    overflow: hidden;
}

.gsl-legend-y {
    grid-column: 1;
    grid-row: 3 / 7;
    overflow: hidden;
    border-right: #969696 1px dashed;
}

.gsl-barchart {
    grid-column: 1 / 7;
    grid-row: 1 / 7;
}

/* MAIN SCENE */

.gsl-scene {
    grid-column: 2 / 7;
    grid-row: 3 / 7;
    overflow: hidden;
}

.gsl-vertical-scroll {
    grid-column: 7;
    grid-row: 3 / 7;
}

.gsl-horizontal-scroll {
    grid-column: 2 / 7;
    grid-row: 7;
}

/* SELECTORS */
.gsl-selectors {
    grid-column: 1 / 7;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: repeat(2, 1fr)
}

.gsl-yselector {
    grid-column: 1;
    grid-row: 2;
}

.gsl-xselector {
    grid-column: 3 / 8;
    grid-row: 1;
}

.gsl-zselector {
    grid-column: 8 / 13;
    grid-row: 1;
}

.gsl-extraselector {
    margin-left: 30px;
    grid-column: 1/3;
    grid-row: 1;
}

.datasets-panel {
  grid-column: 6/7;
  grid-row: 1;
}

div.tooltip {
    color: black;
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 20px;
    background: white;
    border: 2px solid #636363;
    pointer-events: none;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
    color: #dbdddf !important;
    pointer-events: none;
    background-color: transparent;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff !important;
    text-decoration: none;
    background-color: #6c757d;
}

.highlightText {
    color: #3182bd
}

.highlightEntity {
    color: #4292c6
}

.highlightKeyword {
    color: #d94801
}

.popup_content {
    margin: 10px;
    padding: 0 10px;
    max-width: 60%;
    border: 2px solid #444;
    background: white;
}

.inner-button-text {
    border: 2px solid white;
    border-radius: 5px;
}

body {
    overflow: scroll;
}

.relationshipId {
  display: block !important;
}

.gsl-article{
    width: calc(60vw - 10px);
    color: #6a6a6a;
}

.openRectScene{
  fill:#f7f7f7 !important
}

/* SUMMARY */
.demo-container{
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
}
.demo-vis{
  grid-column: 1;
  grid-row: 1;
}
.summary-barchart {
  grid-column: 1;
  grid-row: 2;
}

.demo-toolbar{
   /* ADDED FOR PAPER FIGURE */
    /*width: calc(40vw - 10px);*/
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  grid-auto-rows: 1fr;
}
.demo-sidebar-panel{
  grid-column: 1;
  grid-row: 1;
  margin-top: -10px;
}

.demo-searchKeyword-panel{
  grid-column: 2/6;
  grid-row: 1;
}

.demo-searchKeyword-container{
  grid-column: 6/12;
  grid-row: 1;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidebar .closebtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidebar .closebtn:hover {
    text-decoration: underline;
  }

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
    margin-left: -25px;
  }

  .sidebar .entityselector {
    position: absolute;
    top: 15px;
    font-size: 36px;
    margin-left: 35px;
  }

  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    padding: 10px 15px;
    border: none;
  }

  .openbtn:hover {
    background-color: #444;
  }

  #demo-container {
    transition: margin-left .5s;
  }

  .summary-barchart {
    overflow-y: scroll;
    height: 100%;
  }

  .demo-searchKeyword-panel {
    transition: 0.5s;
  }

  #dataset-selector{
    height: 400px;
    overflow-y: scroll;
  }