body{
  overflow: hidden !important;
}

.gsl-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr minmax(15px, 15px);
    grid-template-rows: minmax(50px, 50px) minmax(100px, 100px) 1fr 1fr 1fr 1fr minmax(15px, 15px);
    height: calc(97vh);
}

.gsl-legend-x {
    grid-column: 4 / 8;
    grid-row: 2;
    overflow: hidden;
}

.gsl-legend-y {
    grid-column: 1/4;
    grid-row: 3 / 7;
    overflow: hidden;
    border-right: #969696 1px dashed;
}

/* MAIN SCENE */
.gsl-scene {
    grid-column: 4 / 8;
    grid-row: 3 / 7;
    overflow: hidden;
}

.gsl-vertical-scroll {
    grid-column: 8;
    grid-row: 3 / 7;
}

.gsl-horizontal-scroll {
    grid-column: 4 / 8;
    grid-row: 7;
}

/* SELECTORS */
.gsl-selectors {
    grid-column: 1 / 7;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: repeat(2, 1fr)
}

.gsl-yselector {
    grid-column: 1;
    grid-row: 2;
}

.gsl-xselector {
    grid-column: 3 / 8;
    grid-row: 1;
}

.gsl-zselector {
    grid-column: 8 / 13;
    grid-row: 1;
}

.gsl-extraselector {
    margin-left: 30px;
    grid-column: 1/3;
    grid-row: 1;
}

.datasets-panel {
    grid-column: 6/8;
    grid-row: 1;
  }

div.tooltip {
    color: black;
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 20px;
    background: white;
    border: 2px solid #636363;
    pointer-events: none;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
    color: #dbdddf !important;
    pointer-events: none;
    background-color: transparent;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff !important;
    text-decoration: none;
    background-color: #6c757d;
}

.highlightText {
    color: #3182bd
}

.highlightEntity {
    color: #4292c6
}

.highlightKeyword {
    color: #d94801
}

.popup_content {
    margin: 10px;
    padding: 0 10px;
    max-width: 60%;
    border: 2px solid #444;
    background: white;
}

.inner-button-text {
    border: 2px solid white;
    border-radius: 5px;
}

#dataset-selector{
    height: 400px;
    overflow-y: scroll;
}

.demo-vis{
    grid-column: 1;
    grid-row: 1;
  }