{% extends 'base.html' %} {% load static %} {% block content %}

<style>
    h1,
    h2,
    h3 {
        color: #525252;
    }

    body {
        color: #737373;
    }
</style>
<div class="row" style="margin-top: 50px;">
    <div class="col-2"></div>
    <div class="col-8">
        <h1> GeoStorylines</h1>
         <p> Geo-Storylines is a collection of visualisation designs that integrate geospatial context into Storyline visualizations, using different strategies for compositing time and space. </p>
         <p> Their conception, associated design space and evaluation are detailed in the IEEVIS'22 publication:</p>
         <a href="https://doi.org/10.1109/TVCG.2022.3209480" target="_blank">[DOI]</a> &emsp; 
         <a href="https://hal.inria.fr/hal-03752409/document" target="_blank">[PDF from HAL]</a> &emsp;
         <a href="https://osf.io/5wnyg" target="_blank">[Pre-registration]</a> &emsp;
         <a href="https://ilda.saclay.inria.fr/geo-storylines/" target="_blank">[Sup. Material]</a> &emsp;

         <br>
         <br>
         <p>The source code can be found here:</p>
         <a href="https://gitlab.inria.fr/ilda/geo-storylines" target="_blank">[gitlab @ Inria]</a> 

         <br>
         <br>
        <p> You can test the three selected designs from the design space:</p>

        <div style="margin-bottom: 30px;">
            <h3> 1.- Map Glyphs <a href="{% url 'map-glyphs' %}" target="_blank">[demo]</a></h3>
            <img src="{% static 'geostorylines/images/a.png' %}" class="img-fluid">
        </div>

        <div style="margin-bottom: 30px;">
            <h3> 2.- Coordinated Views <a href="{% url 'coordinated-views' %}" target="_blank">[demo]</a></h3>
            <img src="{% static 'geostorylines/images/b.png' %}" class="img-fluid">
        </div>

        <div style="margin-bottom: 30px;">
            <h3> 3.- Time Glyphs <a href="{% url 'time-glyphs' %}" target="_blank">[demo]</a></h3>
            <img src="{% static 'geostorylines/images/c.png' %}" class="img-fluid">
        </div>

    </div>
</div>

{% endblock %}