{% extends '../base.html' %} {% load static %} {% block content %}
<!-- ADDITIONAL -->
<script src="{% static 'geostorylines/js/libraries/d3.v5.min.js'%}"></script>
<script src="{% static 'geostorylines/js/libraries/d3-array.v2.min.js'%}"></script>
<script src="{% static 'geostorylines/js/libraries/d3-geo.v2.min.js'%}"></script>
<script src="{% static 'geostorylines/js/libraries/jquery.popupoverlay.js'%}"></script>
<script src="{% static 'geostorylines/js/libraries/lodash.js'%}"></script>
<script src="{% static 'geostorylines/js/libraries/jLouvain/jLouvain.js'%}"></script>

<!-- STORYLINES ALGORITHM -->
<script src="{% static 'geostorylines/js/C-time_glyphs/narrative.js'%}"></script>
<script src="{% static 'geostorylines/js/C-time_glyphs/narrative-extension.js'%}"></script>

<script type="module">
  import geoStorylines from "{% static 'geostorylines/js/C-time_glyphs/gsl.js'%}";
  var ns = geoStorylines().init('1')
</script>
<link rel="stylesheet" href="{% static 'geostorylines/css/C-time_glyphs/storylines.css' %}">

<body>
  <div>
    <div class="demo-container" id="demo-container">
      <div class="demo-vis">
        <div class='gsl-container'>
        </div>
      </div>
    </div>
  </div>
  <script>
    function openNav() {
      if (document.getElementById("mySidebar").style.width == '250px') {
        closeNav()
      } else {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("demo-container").style.marginLeft = "250px";
        document.getElementById("gsl-article").style.marginLeft = "250px";
        document.getElementById("demo-sidebar-panel").style.visibility = "hidden";
        document.getElementById("demo-searchKeyword-panel").style.marginLeft = "-120px"
      }
    }
    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("demo-container").style.marginLeft = "0";
      document.getElementById("gsl-article").style.marginLeft = "0";
      document.getElementById("demo-sidebar-panel").style.visibility = "visible";
      document.getElementById("demo-searchKeyword-panel").style.marginLeft = "0px"

    }
  </script>
</body>
{% endblock %}